# Plantilla de configuración - PayShield Core
POSTGRES_USER=payshield_admin
POSTGRES_PASSWORD=DefinirPasswordSeguraAqui!
POSTGRES_DB=payshield_db
DB_HOST=db
DB_PORT=5432
SECRET_KEY=clave_maestra_para_firmado_de_tokens
